:root{
    --main-color: #10cab7;
    --second-main-color: #2c4755;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

.none{
    display: none;
}

/* Components */
.special{
    font-size: 100px;
    color: #ebeceb;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}

.special + p{
    text-align: center;
    font-size: 20px;
    color: #797079;
    margin-top: -30px;
}


@media (max-width: 560px){
    .special{
        font-size: 60px;
    }
    .special + p{
        font-size: 17px;
        margin-top: -20px;
    }
}
/* Components */

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Start header */
.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 80px;
}

.header .logo img{
    width: 100%;
}

.header .links{
    position: relative;
}

.header .links .icon{
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 25px;
    justify-content: flex-end;
    cursor: pointer;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon span{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: black;
}

.header .links .icon span:nth-child(2){
    width: 50%;
    transition: 0.3s;
}

.header .links ul{
    position: absolute;
    right: 0;
    list-style: none;
    background-color: #f6f6f6;
    min-width: 150px;
    top: calc(100% + 15px);
    z-index: 10;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li:hover{
    padding-left: 25px;
}

.header .links ul li{
    display: block;
    padding: 15px;
    color: #333;
    transition: 0.3s;
    cursor: pointer;
}

.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* End header */
/* Start landing section */
.landing{
    background-image: url(./images/686924.jpg);
    background-size: cover;
    height: calc(98vh - 64px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1{
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
}

.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End landing section */

/* Start features section */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat{
    text-align: center;
    padding: 20px;
}

.features .feat svg{
    color: var(--main-color);
    font-size: 40px;
}

.features .feat h3{
    font-weight: 800;
    margin: 25px 0px;
}

.features .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End features section */
/* Start services section */

.services{
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.services .services-content .content .service{
    display: flex;
    margin-bottom: 40px;
    line-height: 2.3;
    gap: 10px;
}

.services .services-content .content .photo img{
    width: 250px;
    height: 400px;
}

.services .services-content .content .photo{
    position: relative;
}

.services .services-content .photo::before{
    content: "";
    background-color: var(--second-main-color);
    position: absolute;
    width: 130px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (min-width: 1200px){
    .services .services-content .photo::before{
        right: 60px;
    }
}

.services .services-content .content .service svg{
    color: var(--main-color);
    font-size: 30px;
}

.services .services-content .content .service .text{
    flex: 1;
}

.services .services-content .content .service .text p{
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}


@media (max-width: 768px) {
    .services .services-content .content .service{
        flex-direction: column;
        justify-content: center;
    }
    .services .services-content .content .service .text{
        text-align: center;
    }
    .services .services-content .content .service .text p{
        padding: 0px 30px;
    }
}

@media (max-width: 992px) {
    .services .services-content .pic{
        display: none;
    }
}
/* End services section */
/* Start portfolio section */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.portfolio .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.portfolio .projects .proj {
    background-color: white;
}

.portfolio .projects .proj img{
    max-width: 100%;
}

.portfolio .projects .proj .info{
    padding: 10px;
    margin-top: 10px;
}

.portfolio .projects .proj .info p{
    line-height: 1.6;
    color: #777;
    margin-top: 5px;
}
/* End portfolio section */
/* Start about section */
.about{
    padding-top: 60px;
    padding-bottom: 120px;
}

.about .about_content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .about_content .about_photo{
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about_content .about_photo::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
    background-color: #ebeceb;
}

.about .about_content .about_photo::after{
    content: "";
    position: absolute;
    height: 300px;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px;
}

.about .about_content .about_photo img{
    max-width: 100%;
}

.about .about_content .text{
    flex-basis: calc(100% - 500px);
}

.about .about_content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
}

.about .about_content .text hr{
    width: 60%;
    margin: 60px 0px;
    border: 1px solid var(--main-color);
}

.about .about_content .text p:last-of-type{
    color: #777;
    line-height: 2;
}

@media (max-width: 993px){
    .about .about_content{
        flex-direction: column;
        text-align: center;
    }
    .about .about_content .about_photo{
        margin: 0 auto 80px;
    }
    .about .about_content .about_photo::before,
    .about .about_content .about_photo::after{
        display: none;
    }
}
/* End about section */
/* Start contact section */

.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .contact_content{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact .contact_content h1{
    color: var(--second-main-color);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
}

.contact .contact_content a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2px;
}

.contact .contact_content .links{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact .contact_content .links p{
    margin-right: 10px;
    font-weight: 400;
}

.contact .contact_content .links svg{
    color: var(--second-main-color);
    font-size: 28px;
}

@media (max-width: 767px){
    .contact .contact_content h1,
    .contact .contact_content a,
    .contact .contact_content .links svg{
        font-size: 25px;
    }
    
}

/* End contact section */
/* Start footer */

.footer{
    text-align: center;
    background-color: var(--second-main-color);
    padding: 30px 10px;
    color: white;
    font-size: 18px;
}

.footer span{
    font-weight: bold;
    color: var(--main-color);
}

/* End footer */

/* Small  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Medium  */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Large  */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}